html,
body,
div,
p,
a,
i,
span,
svg {
	margin: 0;
	padding: 0;
}

.er-circle-container {
	display: inline-block;
	position: relative;
}

.er-circle-container svg {
	display: block;
	border: none;
	background: transparent;
	margin: 0 auto;
}

.er-circle-inner {
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	line-height: 1;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


/*多环居中自适应 只兼容IE10及以上*/

.er-flexcenterbox {
	margin: 20px auto;
	display: block!important;
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.er-flexcenterbox>.er-circle-container {
	-webkit-flex: 1;
	flex: 1;
	text-align: center;
	margin: 20px;
}